.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
webview-ui/**
.gitignore
.yarnrc
vite.*.config.ts
vsc-extension-quickstart.md
**/tsconfig.json
**/.oxlintrc.json
**/.node-version
**/*.map
**/*.ts
**/.vscode-test.*
